@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
    --color-1: #ffffff;
    --color-2: #fffae3;
    --color-3: #736681;
    --color-4: #c1d9d0;
    --color-5: #62455b;
    --color-6: #141827;
    --color-7: #424652;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;

}
